@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    user-select: none;
}

:root {
    --cor-fundo: #fff;
    --cor-principal: #1B2653;
    --cor-secundaria: #FE6613;
    --cor-terciaria: #787878;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--cor-fundo);
    color: var(--cor-texto);
}

section {
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 10rem;
    padding-right: 9%;
    padding-bottom: 2rem;
    padding-left: 9%;
}

header {
    background-color: var(--cor-principal);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    flex-direction: row;
}



.header a:hover {
    color: var(--cor-texto);
    text-decoration: none;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

header img {
    width: 120px;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 2.5rem;
    color: var(--cor-texto);
    font-weight: 600;
    cursor: default;
}

.navbar {

    width: 100%;
    background-color: rgba(18, 18, 18, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar a {
    font-size: 1.4rem;
    color: var(--cor-texto);
    margin-left: 2rem;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
}

.teste {
    margin-left: 5rem;
}

#cadastrar-btn {
    margin-left: 5rem;
    scale: 1;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: transparent;
    color: var(--cor-principal);
    color: #fff;
    padding: 10px 15px;
    transition: background-color 0.5s ease-in-out,  border 0.5s ease-in-out;
    
}

#cadastrar-btn:hover{
    background-color: var(--cor-secundaria);
    border: 2px solid var(--cor-principal);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
}

.quadrado {
    background-color: #FFF;
    border: 1.5px solid var(--cor-terciaria);
    border-radius: 5px;
    width: 380px;
    height: 380px;
    margin: 80px 40px 0 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}



.corretores {
    padding: 10px;
}

.corretor {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: var(--cor-terciaria);
}

.img-container {
    width: 170px;
    height: 170px;
    border: var(--cor-terciaria) 2px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.blurred-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    z-index: 1;
}

.corretor img:not(.blurred-bg) {
    width: 70%;
    height: auto;
    object-fit: cover;
    position: relative;
    z-index: 2;
    margin: 0 auto;
}


.corretor .data-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
    color: #1B2653;
    font-size: 1.2rem;
}

.corretor .data-container a {
    color: var(--cor-secundaria);
    text-decoration: underline;
}

#mensagem {
    color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    height: 100%;

    padding: 0 15px;
    justify-content: space-around;
}

#mensagem h2 {
    font-size: 2.8rem;
    font-weight: 400;
    margin-top: 20px;
}

#mensagem input,
textarea {
    width: 100%;
    border: 1px solid var(--cor-terciaria);
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
}


#mensagem input::placeholder,
textarea::placeholder {
    font-size: 1.5rem;
    filter: opacity(0.5);
}

#mensagem input {
    height: 3.5rem;
}

#mensagem textarea {
    height: 10rem;
    margin-bottom: 2.5rem;
    resize: none;
}

#mensagem button {
    background-color: var(--cor-secundaria);
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    margin-top: auto;
    font-size: 1.8rem;
    line-height: 1.5rem;
}

#regra-de-tres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

#regra-de-tres h2 {
    margin-top: 20px;
    font-size: 2.8rem;
    font-weight: 400;
    color: var(--cor-principal);
}

#forms-regra-de-tres {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
}


#forms-regra-de-tres input {
    width: 135px;
    border: 1px solid var(--cor-terciaria);
    border-radius: 5px;
    padding: 10px;
}

#regra-de-tres button {
    background-color: var(--cor-secundaria);
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    margin-top: auto;
    font-size: 1.8rem;
    width: auto;
    line-height: 1.5rem;
    align-self: flex-start;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.horizontal-line {
    width: 40px;
    height: 2px;
    background-color: black;
}

#foto-casa,
#foto-casa-download,
#casa-animada {
    position: relative;
    width: 100%;
    height: 380px;
    border: 1.5px solid var(--cor-terciaria);
    border-radius: 5px;
}

#foto-casa img,
#foto-casa-download img,
#casa-animada img {
    width: 100%;
    height: 380px;
    border-radius: 5px;

}






.quadrado-casa {
    background-color: #FFF;
    border-radius: 5px;
    width: 380px;
    height: 450px;
    margin: 80px 40px 0 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.quadrado-casa button {
    height: 40px;
    width: 380px;
    background-color: var(--cor-secundaria);
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    margin-top: auto;
    font-size: 1.6rem;
    line-height: 1.5rem;
    align-self: flex-start;
    font-weight: 400;
}

.quadrado-casa-download {
    background-color: #FFF;
    border-radius: 5px;
    width: 380px;
    height: 450px;
    margin: 90px 40px 0 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.quadrado-casa-download button {
    margin: 20px auto;
    height: 40px;
    width: 300px;
    background-color: var(--cor-secundaria);
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 1.6rem;
    line-height: 1.5rem;
    align-self: flex-start;
    font-weight: 400;
}

#foto-casa button,
#foto-casa-download button {
    height: 40px;
    width: 320px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 1;
    background-color: #cb4700;
    transform: translateX(-50%);
}


.quadrado-casa-animada {
    background-color: #FFF;
    border: 1.5px solid var(--cor-terciaria);
    border-radius: 5px;
    width: 380px;
    height: 380px;
    margin: 80px 40px 0 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    overflow: hidden;
}

.quadrado-casa-animada img{
    animation: zoomOut 10s ease-out;
 
}

.footer {
    background-color: var(--cor-principal);
    color: #fff;
    margin-top: 80px;
    padding: 2rem 5%;
    position: relative;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-left {
    display: flex;
    gap: 2rem;
}

.footer-left a {
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-right p {
    margin: 0 40px 0 0;
    font-size: 1.4rem;
}

.footer-image {
    width: 120px;
    height: auto;
}



.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid var(--cor-terciaria);
    width: 80%;
    height: 80%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.modal-header {
    height: 50px;
    border-bottom: 1px black solid;
    padding: 20px 20px 40px 0;
}

@keyframes zoomOut {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.modal-body {
    height: 70svh;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60svh;
    width: 40svw;
    overflow: hidden;
    position: relative;
}

.modal-body img {
    width: 40svw;
    border-radius: 5px;
    position: absolute;
}

.fechar {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#close-icon {
    font-size: 4rem;
}

#close-icon,
#menu-icon {
    display: none;
}

.navbar-mobile {
    z-index: -1;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--cor-principal);
    width: 100%;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 2rem;
}


@media (max-width: 1200px) {
    .navbar {
        display: none;
    }

    #menu-icon {
        display: block;
        font-size: 3rem;
        cursor: pointer;
    }

    .navbar-mobile a {
        color: var(--cor-texto);
        margin: 0;
        font-size: 1.5rem;
    }

    .navbar-mobile.active {
        display: flex;
    }

    .quadrado {
        margin: 10px;
    }

    #cadastrar-btn {
        margin: 0;
    }
}

@media (max-width: 991px) {
    #regra-de-tres input {
        width: 120px;
    }

    .quadrado-casa {
        margin: 0px;
        padding: 5px;
    }

    .quadrado-casa button {
        margin: 0;
        width: 370px;
    }

    .quadrado-casa-download {
        margin: 30px 0 0 0;
        padding: 5px;
    }

    .footer-content {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .footer-left {
        display: none;
    }

    .footer-right {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        gap: 1rem;
    }

    .footer-right p {
        margin: 0;
        font-size: 1.2rem
    }

    .footer-right .footer-image {
        width: 100px;
        height: auto;
    }

    .modal {
        height: 100svh;
    }

    .modal-conteudo {
        margin-top: 20rem;
        height: 40svh;
    }

    .modal-body {
        width: 60svw;
    }

    .modal-body img {
        width: 70svw;
        border-radius: 5px;
    }

}